

.toc-timetag{
	cursor:pointer; 
	position: absolute; 
	display: block; 
	width: 5px; 
	height: 20px; 
	left:0; 
	margin: 0; 
	padding: 0;
}

span.timetag.ttoc{ width:4px; background-color: #003366; opacity:0.6;}
ul.toclist{ padding:0px; list-style-type:none;  list-style-position: inside; margin:12px 0 0 0;}
ul.toclist li {line-height:160%; display:list-item; margin: 4px 0; background-color: #eee; padding:2px 4px; cursor:pointer; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
ul.toclist li:hover { background-color: #ccc;}
ul.toclist li a { text-decoration:none; padding: 2px 1px 1px 3px; }

.hightoc a {	color:red; }


.icon-add-toc:hover{ background-color:red; }

.toc-disabled  {
	opacity:.8;
	cursor:default;
	background-color:#eee;
}
.toc-disabled a {
	color:#555;
	
}



