/*
author: niels.seidel@nise81.com
*/


/* Overlay above the video frame*/
#overlay {
	width:10px;
	height:10px;
	display:block;
	position:relative;
	z-index:20;
}


/* player controls */
.video-controls {
	width: 100vw;
	height: 50px;
	position: absolute;
	display:inline;
	clear:both;
	bottom: -45px !important;
	left:0;
	z-index:25;


 	-moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.video-controls:hover{
	bottom:0 !important;
}

.open-controls {
	bottom:0 !important;
}



.control-bar{
	position:relative;
	float:left;
	padding:0 10px;
	margin:0;
	width:100vw;
	height:40px;
	background-color:#222;
	opacity:.6;
}

.control-bar > div {	
	vertical-align: text-top;
	margin: 6px 4px 0px 6px;
}




/* play, pause */
.vi2-video-play-pause{
	margin-top:10px;
	display:inline-block;
	width: 22px;
	height: 22px;
}

.vi2-video-play {
	background: url(../img/play-icon.png) no-repeat;	margin-top:0px;
}

.vi2-video-pause {
	background: url(../img/pause-icon.png) no-repeat;
}


/* Volume Controls */

.vi2-volume-box {
	display:inline-block;
	position:relative;
	width: 20px;
	height: 30px;
	color: #fff;
	padding-left:4px;
	-moz-transition: all 0.3s ease-in-out; /* Firefox */
	-webkit-transition: all 0.3s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.3s ease-in-out;  /* Opera */
	transition: all 0.3s ease-in-out; 
}

.vi2-volume-box:hover {	
	width: 120px;	
}
.vi2-volume-box:hover .vi2-volume-slider{
display:inline;
}
																																																																																																																																																																																																									

.vi2-volume-box .vi2-volume-slider {
	display:none;	
	position:absolute;																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											
	height: 14px;
	width: 90px;
	top:4px;
	left:30px;
	border: 1px solid #777;
	-moz-transition: all 0.2s ease-in-out; /* Firefox */
	-webkit-transition: all 0.2s ease-in-out; /* Safari and Chrome */
	-o-transition: all 0.2s ease-in-out;  /* Opera */
	transition: all 0.2s ease-in-out; 
}


.vi2-volume-box .vi2-volume-slider .ui-slider-handle {
	display:block;
	position:absolute;
	top:0; 
	width:10px; 
	height:inherit;
	background: #eee;	
}
.vi2-volume-box .vi2-volume-slider .ui-slider-handle:hover {
background-color: orange;	
}

.vi2-volume-box .vi2-volume-slider .ui-slider-handle .ui-state-hover {	background-color: orange; }


.vi2-volume-box .vi2-volume-slider .ui-slider-range {
	display:inline-block;
	height:inherit;
	background-color: #777;
	border-radius:0;
	cursor: pointer;
}


/* volume button */
.vi2-volume-button {
	display:inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/volume-full-icon.png) no-repeat;
}

.vi2-volume-button:hover {
	opacity: 1;
}

.vi2-volume-mute {
	background: url(../img/volume-mute-icon.png) no-repeat;
}


/* Other control elements */
.vi2-skip-back {	
	display:inline-block;
	color:white;

}




/* timer */
.vi2-video-timer {
	display:inline-block;
	height:12px;
	width:102px;
	color: #fff;
  font-size: 0.7em;
  font-weight: bold;
}



/* Timeline */
.timelines {
	width: 100vw;
	margin-top:0px;
	float:left;
	position:relative;
	padding:0;
}


.vi2-video-loading-progress {
	position:absolute;
	top:0;
	left:0;
	height: 14px;
	background-color:#555;
}

.vi2-video-seeklink {
	width: 100%;
	height:14px;
	padding:0;
	margin:0;
	background-color:#444;
}

.vi2-video-seek {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width: 100%;
	background-image:none;
	padding:0;
	margin:0;
	height:14px;
	border:0;
}


.vi2-video-seek .ui-slider-handle {
		position:absolute;
		width:10px;
		height:inherit;
		background-color:#555;
		cursor:col-resize;
		border:none;
		border-radius:0;
		z-index:2000;
		display:inline-block;
}

.vi2-video-seek .ui-slider-handle:hover { 
	background-color: #fff; 
}

.vi2-video-seek .ui-slider-range {
	display:inline-block;
	height:inherit;
	background-color: #777;
	border-radius:0;
	cursor: pointer;
}







/*

.iwasbasicwhite vi-btn-box{
display:none;
}

.vi2-video-player.iwasbasicwhite {
	padding:0px;
	width:980px;
}

.iwasbasicwhite .vi2-video-controls {
	position: relative;
	padding-top: 5px;
	float: left;
	clear: both;
	width: 100%;
}

*/


/*
.iwasbasicwhite .vi2-volume-box { 
	position: absolute;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	width: 20px;
	height: 30px;
	color: #fff;
	padding: 0px 10px;
	z-index:1000;
	
	-moz-transition: all 0.1s ease-in-out; 
	-webkit-transition: all 0.1s ease-in-out; 
	-o-transition: all 0.2s ease-in-out;  
	transition: all 0.1s ease-in-out; 
}
.iwasbasicwhite .vi2-volume-box:hover {
	height: 135px;
	padding-top: 5px;
}


.iwasbasicwhite .vi2-volume-button { background: url(../img/volume-full-icon.png) no-repeat; }
.iwasbasicwhite .vi2-volume-mute { background: url(../img/volume-mute-icon.png) no-repeat; }



.vi2-video-player .iwasbasicwhite  .vi2-volume-slider {	
	position: relative;
	height: 100px;
	width: 27px;
	left: 4px;
	
	visiblity: hidden;
	opacity: 0;
	
	border: 1px solid #444;

	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	

	-moz-transition: all 0.1s ease-in-out; 
	-webkit-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;  
	transition: all 0.1s ease-in-out; 
}


}

.iwasbasicwhite .vi2-volume-slider .ui-slider-handle {
	background: #003366;
	background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));
	box-shadow: inset 0 3px 3px #d5d5d5;	
}
.iwasbasicwhite .vi2-volume-slider .ui-slider-handle.ui-state-hover {	background: #003366; }

.iwasbasicwhite .vi2-volume-slider .ui-slider-range {
	background: #003366;
	background-image: -moz-linear-gradient(top, #e6e6e6, #d5d5d5);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #e6e6e6),color-stop(1, #d5d5d5));
	box-shadow: inset 0 3px 3px #d5d5d5;
}


*/
