/* add styles here */
@CHARSET "UTF-8"; 
body {
	font-family: arial;
	font-size: 10pt;
	padding:0; margin:0;
	background-color: #ededed;
}

.embed-body { background-color: #fff; }


a {
text-decoration:none;
color:#003366;
}

a:hover {
text-decoration:underline;
}

img {
	border:none;
}

#page{
	margin:0px auto; 
	padding:0;
	width:960px;
	background-color:#fff;
	 box-shadow: 0 0 10px #555;
}

#header{
    top:0; left:0; right:0;
    margin:0px;
    height:150px;
    border-bottom:1px solid #333;  
}

#header h1 a{
	color: #fff;
}

#footer {
	clear:left;
	width:960px;
	height:120px;
	position:relative;
	display:block;
	bottom:0; left:0; right:0;
	padding-top:20px;
	margin-bottom:130px;
}

#footer div {
	background-color: #fff; 
	color:#666;
	text-align:center;
	padding: 0px 10px;
	border-top:1px solid #003366;  
}

#footer div span {
	font-size:10px;
}


#footer div img{
	vertical-align:text-bottom;
	padding:10px;
}

#bottom{
bottom:0;
background-color:#003366;
margin-top: 1px solid #333;
width:100%;
height:20px;
}


.content {
	clear:both;
	position: relative;
	width:920px;
	padding:20px;
	overflow:hidden;
}

.embed-content { margin:0; padding:5px;}

#content > div#intro-info {
	position:absolute;
	border-bottom:solid 10px #eee;
 
}

#content > div#intro-info h3{
	padding:0;
	margin:0;
}


#content div.content-item{
	position:relative;
	width:428px;
	height:250px;
	float:left;
	margin: 10px 20px 10px 0px;
	padding:4px 10px;
	border:1px solid #ddd;
	border-radius:5px;
	background-color: #ededed;
}

#content div.content-item h3{
	margin:0;
}


#content div.content-item div a:hover{
	text-decoration:underline;
}

#content div.content-item div.item-meta{
	padding: 10px 0 0 0;
}

#content div.content-item span.addToPlaylist{
	display:none;
	z-index:100;
}


#content div.content-item:hover span.addToPlaylist{
	display:block;
	z-index:100;
	position:absolute;
	left:0; 
	bottom:0;
	color:#fff;
	border-radius: 0 5px 0 5px;
	background-color:#003366;
	padding:0px 0 4px 4px;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	width:15px;
	height:15px;
}

#content div.content-item span.addToPlaylist:hover{
	background-color:#fff;
	color:#003366;
}


#content div.content-item a .play-overlay{
	opacity : 0.7;
  filter: alpha(opacity=70); // msie
}

#content div.content-item a:hover .play-overlay{
		opacity : 1;
  filter: alpha(opacity=100); // msie
}

.toggle-card{
	cursor:pointer;
}

#content div.content-intro {
	width:920px; 
	height:600px;
	font-size:14px;
	line-height:22px;
}


#content div.content-intro div{
	width:445px;
	padding:0px;
	float:left;
}
#content div.content-intro div div{
display: inline;
}


#content div.content-intro div div h3 a{
 font-size:14px; padding:0; margin:0;	
}



#content h2 {
margin: 10px 0 0 0;
/*width: 100%;*/

}


#content h2.catHead {
	width: 860px; 
	padding: 14px 0 0 36px;
	margin:0;
	height: 40px;
}

#content div.catDesc {
	width: 880px; 
	padding: 0px 0 20px 0;
	margin:0;
}

.search-results {
	margin-left: 20px;
	margin-top:0;
}

.search-results h2{
	margin-bottom:14px;
}

.search-result-item {
	display:block;
	margin-bottom:10px;
}

.search-result-item-info {
	margin-left: 110px;
	padding:0;
}
.search-result-item-image {
	width: 100px;
}

.des{
	color:#666;
}


.search-results h3{
	margin-bottom:4px;
}

#container {
/*	width:1216px;*/
	height:450px;
	padding:0;
	overflow:hidden;
} 

.header {
	margin-bottom:20px;
	color:#444;
}

#desc{
width: 750px;
}



/************************************************/
#seq {
	float:left;
	width:500px;
	height:375px;
	margin: 0 1px;
	padding: 0;
	z-index:3;
	border: solid 1px #000;
	background-color:#fff;
}

#overlay {
	width:620px;
	height:450px;
	margin-left:290px;
	display:block;
	position:relative;
	z-index:20;
	
}

#meta {
	float:left;
	width:200px;
	height:375px;
	padding:0 2px;
	margin: 0 1px;
	background-color:#fff;
}

/*
#screen {
		float:left;
		width:500px;
		height:375px;
		margin: 0 1px;
		border: solid 1px #000;
}

div#screen span#overlay{
	background-color: #fff;
	padding:0;
	z-index:0;
	border: 1px solid #ccc;
	cursor:pointer;
}

#screen #video1{
	padding:0px;
	z-index:4;
}
*/




/** hyperlink design ***/
.overlay {
	padding: 3px 4px 3px 28px;
	height:18px;
	border: 1px solid #ccc;
	font-weight: bold;
	background-color:#003366;
	opacity: .85;
	cursor:pointer;cursor:hand;	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

span.overlay:hover{
	background-color:lightblue;
}

span.overlay:hover a {
	text-decoration:none;
}

.overlay.hyperlink-standard{
	background: url(../img/link-standard.png) 2px 2px no-repeat #fff;
	z-index:0;
}

.overlay.hyperlink-external{
	background: url(../img/link-external.png) 2px 2px no-repeat #fff;
		z-index:0;
}

.overlay.hyperlink-cycle{
	background: url(../img/link-cycle.png) 2px 2px no-repeat #fff;
		z-index:1000;
}

.overlay.hyperlink-multi{
	background: url(../img/link-multi.png) 2px 2px no-repeat #fff;
		z-index:1000;
}



.slide {
	background-color: #fff;
	padding: 0;
	margin: 0;
	max-height:450px;
	width:615px;
	
}

.external-link{
	//
}



.edit{
	display:block;
	width:500px;
	margin:0;
	padding:5px;
	background-color:#ccc;
}

/*
textarea{
	height:100px;
	width:100%;
	font-size:14px;
	border:0;
	padding:4px;
	background-color:#eee;
}
*/

/*************************************************/
.pieContextMenu {
		display: none;
		list-style-type: none;
		position: absolute;
		margin:0px;
		padding:0px;
		z-index: 2000;
	}
	
.screen{
	background-color:#fff;
	position:absolute;
	top:0;
	width:600px; 
	height:450px;
	overflow:auto; 
	overflow-x: hidden; 
	opacity: 0.95;
	text-align:left;
	color:#000;
	z-index:99;
	margin:10px 0;
}

.screen div{
padding:10px;
}

.close-btn {
	position:absolute;
	top:0;
	right:0;
	margin:0;
	cursor:pointer;
}










/*UPLOAD***********************************************/
div#uploadcontainer{

}
.ul-form{

}
.ul-meta input{
	display:inline;
}

/*LIST ***********************************************/
td { vertical-align:top; }

ul#list-video{
	width: 970px;
	list-style: none;
	padding: 4px 0 0 20px;
}
ul#list-video > li{
	margin-bottom:60px;
}
ul#list-video > li > h3{
	font-size:20px;
	color:blue;
	margin: 0 0 2px 0;
}
.litem-publisher {
	display: inline;
	margin: 0 10px 0 0;
}
.litem-date {
	display: inline;
}

.litem-rating {
	display: inline;
	float: right;
	width: 50px;
	margin: 0 650px 0 0;
}
.litem-video {
	display:block;
	width:540px;
	margin-top:4px;
}
.litem-category {
	margin: 0 0 0 10px;
	font-weight: bold;
	font-size:14px;
}
.litem-tags {
	margin: 30px 0 0 10px;
}
#tagList { padding:0; margin:0;}
div#tagList a {  margin:10px 4px 3px 0; padding:2px; line-height:24px; background-color:#eee; border-radius:3px;}
div#tagList a:hover { text-decoration:none; background-color:lightblue; }

.timetag{	background-color: #ccc; cursor:pointer; position: absolute; display: block; width: 5px; height: 20px; left:0; margin: 0; padding: 0; }
.timetag.ttoc{ width:4px; background-color: #003366; opacity:0.6;}
.timetag.ttag{ width:4px; background-color: blue;}
.timetag.tmedia{ width:4px; background-color: blue;}

.timetag.tlink{ width:7px; height:9px; bottom:16px; background-color: lightblue; opacity:0.7;}
.timetag.tlink:hover{ width: 14px; height:14px; opacity:1;}

ul.toclist{
padding:0px;
list-style-type:none;
}

ul.toclist li {
margin: 4px 0;
background-color: #fff;
padding:2px 4px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

ul.toclist li:hover {
background-color: #eee;
}

ul.toclist li a {
text-decoration:none;
}

#toc, #toc li, #toc li a  { 
	 line-height:20px; 
}


.hightoc a {
	color:blue;
}

/**/
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #444;
	background-color: #fff;
	padding: 1px 4px;
	opacity: 0.85;
}



/**/
#navigation{
	border-bottom:solid 1px #003366;
	padding: 10px 10px 10px 20px;
}
#navigation a{

}


.search-box {
	display:inline;
}

.search-box input:hover{
	background-color:lightblue;
}

.search-box input[type=text] {
	width:200px;
	padding:4px;
	margin: 0 4px 0 0;
	height:16px;
	font-size:14px;
	border: solid 1px #333;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	top:0;
}

.search-box input[type=text]:focus {
	background-color: #003366;
	color:#fff;
}

.search-box input[type=submit] {
	background: no-repeat url('../img/loop.png') 4px 6px;
	height:25px;
	width:30px;
	padding:0px;
	border:0;

}



#navigation ul.category a{
	padding:10px 4px 10px 40px;
	height:20px;
	background-color:white;
	background-repeat:no-repeat;
	background-position:4px;
}

#navigation ul.category a:hover{
	background-color:#003366;
	color:#fff;
}

.nav-s{
	float:left; 
	padding:4px 4px 4px 0;
	font-size:16;
	margin-right: 10px;
}

.nav{
float:left; 
position:relative;
font-size:16;
width:200px;
padding:4px 4px;
margin: 1px 10px 0 0;
	border:solid #333 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
cursor:pointer;
}

.nav-playlist{
	width:160px;
}

.nav-playlist:hover{
	background-color:lightblue;
}

.nav .nav-list{
	display:none;
	left:0;
	width:208px;
	z-index:100;
	background-color:#fff;
	margin-top:18px;
	margin-left:-1px;
	padding:0;
	font-size:12px;
}
.nav:hover > .nav-list{
	position:absolute;
	display:inline;
	border-left:1px solid #333;
	border-right:1px solid #333;
	border-bottom:1px solid #333;

}

.nav:hover > .nav-list .nav-item{
	display:block;
}

.nav .nav-list .nav-item{
	list-style:none;
	display:none;
	cursor:pointer;
}

.nav .nav-list .nav-item:hover{
	background-color:#003366;
	color:#fff; 
}

.nav .nav-list .nav-item:hover > a{
	color:#fff;
	text-decoration:none;
}

.nav .nav-list .nav-item > a{
	display:block;
	padding:3px 6px;
}

.nav-item .nav-list2{
	display:none;
	left:0;
	width:208px;
	z-index:10;
	background-color:#fff;
	margin-top:-21px;
	margin-left:208px;
	padding:0;
}

.nav-item:hover .nav-list2{
	position:absolute;
	display:inline;
		border-top:1px solid #333;
	border-right:1px solid #333;
	border-bottom:1px solid #333;
}

.nav-item2{
	display:block;
	padding:3px 6px;
	cursor:pointer;
}

.nav-item2:hover{
	background-color:#003366;
	color:#fff;
	text-decoration:none;
}	

.imagemap{
margin-bottom:20px;
}















































.litem-activity {
	position:absolute;	
	display:block;
	float:right;
	height: 64px; width: 300px;
	border: solid 1px grey;
	margin: 200px 0 0 650px;
}
.litem-feeds {

}
.litem-download {

}

.dropdown {
	display:inline; 
	width:400px;
	height:20px;
}

.dropdown h4 {
margin:0; position:relative; display:inline; color:red;
}





















/*unused*/

/*  TEST 3  */

/*Main Container*/
.container3 {
	width:100%;
}
.container3 ul{
	list-style-type: none;
}
.container3 li{
	display: inline; 
}

.test3{ padding:0;}

/*Handle*/
.handle3 {
	float: left;
	padding:4px;
	width: 100px;
	height: 314px;
	background: #666;
	border: 1px solid white;
}

.handleOver3{
	background: red;
	border: 1px solid white;
}
.handleOver3 img{
	margin-top:2px;
	filter:alpha(opacity=70);-moz-opacity:.70;opacity:.70;
}
.handleSelected3{
	background: #000;
	border: 1px solid white;
	width:10px;
	display:inline;
}

.handleSelected3 span{
	display:none;
}

/*Content Container*/
.contentWrapper3{
}
.contentInnerWrapper3{
	padding: 10px;
}

.contentContainer3 {
	padding-left: 0px;	
	float: left;

	height: 310px;	
	overflow:hidden;
}

.embed-content #accordion h3:nth-child(3){ display:none; }
.embed-info { position:absolute; right:0; top:0;  z-index:20; padding:4px; border-radius: 0 0 0 5px; background-color:lightblue;}
.embed-info .embed-info-content { display:none; padding:20px 200px; font-size:20px;}
.embed-info:hover .embed-info-content { display:block; width:910px; padding:2px 10px; line-height:30px;}

.template {
	display:none;
}

.close {
	cursor: pointer;
}




