/* add styles here */
@CHARSET "UTF-8"; 

.vi2-btn{
	cursor: pointer;
}



/************************************************/
#seq {
	float:left;
	width: -moz-min-content;
	margin: 0 1px;
	padding: 0;
	z-index:3;
	border: solid 0px #000;

}

#overlay {
	width:inherit;
	padding-left:280px;
	display:block;
	position:relative;
	z-index:20;
}

#meta {
	float:left;
	width:200px;
	padding:0 2px;
	margin: 0 1px;
}





/** hyperlink design ***/


.overlay.hyperlink-standard{
	background: url(../img/link-standard.png) 2px 2px no-repeat #fff;
	z-index:0;
}



.overlay.hyperlink-external{
	background: url(../img/link-external.png) 2px 2px no-repeat #fff;
		z-index:0;
}

.overlay.hyperlink-cycle{
	background: url(../img/link-cycle.png) 2px 2px no-repeat #fff;
		z-index:1000;
}

.overlay.hyperlink-multi{
	background: url(../img/link-multi.png) 2px 2px no-repeat #fff;
		z-index:1000;
}



.slide {
	background-color: #000;
	border:solid 1px #eee;
	padding: 0;
	margin: 0;
	max-width:100%;	
}

.external-link{
	//
}



.edit{
	display:block;
	width:500px;
	margin:0;
	padding:5px;
	background-color:#ccc;
}



	
.screen{
	position:absolute;
	top:0;
	width:600px; 
	height:450px;
	overflow:auto; 
	overflow-x: hidden; 
	opacity: 0.95;
	text-align:left;
	color:#000;
	z-index:99;
	margin:10px 0;
}

.screen div{
padding:10px;
}

.close-btn {
	position:absolute;
	top:0;
	right:0;
	margin:0;
	cursor:pointer;
}











/*LIST ***********************************************/
td { vertical-align:top; }

ul#list-video{
	width: 970px;
	list-style: none;
	padding: 4px 0 0 20px;
}
ul#list-video > li{
	margin-bottom:60px;
}
ul#list-video > li > h3{
	font-size:20px;
	color:blue;
	margin: 0 0 2px 0;
}
.litem-publisher {
	display: inline;
	margin: 0 10px 0 0;
}
.litem-date {
	display: inline;
}

.litem-rating {
	display: inline;
	float: right;
	width: 50px;
	margin: 0 650px 0 0;
}
.litem-video {
	display:block;
	width:540px;
	margin-top:4px;
}
.litem-category {
	margin: 0 0 0 10px;
	font-weight: bold;
	font-size:14px;
}
.litem-tags {
	margin: 30px 0 0 10px;
}

.tagslist { padding:0px; list-style-type:none; margin:2px 0 0 0; }
.tagslist li{ padding:0; margin:0; line-height:20px; font-size:12px; display:inline; cursor:pointer; padding: 2px 1px 1px 3px;}
.tagslist li:hover { position:relative; text-decoration:none; color:white; background-color: #ccc; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
.tagslist li:hover span.icon-bar { z-index:55000; position:absolute; left:-2px; top:-10px;}

.timetag{
	cursor:pointer; 
	position: absolute; 
	display: block; 
	width: 5px; 
	height: 20px; 
	left:0; 
	margin: 0; 
	padding: 0;
}

span.timetag.taccessment{ width:6px; background-color: green; opacity:0.6;}

span.timetag.ttag{ width:6px; height: 30px; top:-10px; background-color: #1C94C4; z-index:1000;}
span.timetag.ttag:hover{ width:12px;}
span.timetag.tmedia{ width:4px; background-color: blue;}

span.timetag.tlink{ width:7px; height:14px; bottom:11px; background-color: lightblue; opacity:0.7;}
span.timetag.taccessment{ width:7px; height:8px; bottom:15px; background-color: green; opacity:0.7;}




ul.commentslist{ padding:0px; list-style-type:circle; list-style-position: inside; margin:0;}
ul.commentslist li { line-height:16px; display:list-item; margin: 4px 0; background-color: #eee; padding:2px 4px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
ul.commentslist li:hover { background-color: #ccc;}
ul.commentslist li a { text-decoration:none; padding: 2px 1px 1px 3px; }






