.vi2-bookmark-controls {
	position:relative;
	display:inline-block;
	padding: 0px 4px;
	width:29px;
  height:29px; 
  font-size:20px; 
  text-align: center;
  float:left;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-color:#555;
	color:#fff;
	cursor: pointer;
	z-index:5000;
	margin:0;   
}

.vi2-bookmark-controls:hover {
	background: #fff; color:#003366;
}



.vi2-select-bookmark {
	display:none;
	float:left;
	width:600px;
	padding:6px 0;
	margin:0;
	font-size:12px;
	background-color:#555; 
	list-style:none;

}

.vi2-bookmark-controls:hover .vi2-select-bookmark { 
	display: inline; 
	position:absolute; 
	bottom:100%;
	left:0px; 
	z-index:5000;
}

.vi2-bookmarks-add-to-browser {
	display:inline;
	font-size:12px;
	text-align:left;
	color:#fff;
	padding: 0 6px 0 0;
	margin: 0;
}

.vi2-select-bookmark > input{
	width:80%;
	border:0 none;
}


.vi2-bookmark-controls:hover > .vi2-select-bookmark {  display: block; border: 1px solid #555; right:0px;}
.vi2-bookmark-controls:hover > .vi2-select-bookmark > input { padding:4px; width:500px;}
.vi2-bookmark-controls:hover > .vi2-select-bookmark > .vi-btn {  background: lightblue;}


