.vi2-speed-controls {
	display:inline-block;
	position: relative;
	float:left;
	width: 35px;
	height:29px;
	padding: 5px 4px;
	font-size:12px;
	font-weight:bold;
	text-align: center;
	vertical-align:middle;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	cursor: pointer;
	z-index:5000;
	background-color:#555;
	color:#fff;
	margin:0;
}

.vi2-speed-controls:hover {
	background: #fff; color:#003366;
}

.vi2-speed-controls > ul { 
	display: none; 
	position:absolute; 
	bottom:100%;
	left:0px;
	width:inherit;
	z-index:5001;
	margin:0;
	padding:0;   
	background-color:#555; 
	list-style:none;
	line-height:12px;
	-webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.vi2-speed-controls:hover > ul {   
	display: block; right:0px; 
}
.vi2-speed-controls:hover > ul > li { 
	font-weight:normal; 
	list-style:none; 
	height:29px;
	padding: 5px 4px;
	font-size:12px; 
	color:#fff; 
	text-align: right;
	vertical-align:middle; 
	border-bottom: solid 1px #333;
	}
.vi2-speed-controls:hover > ul > li:hover { boder:0 none; background: #fff; color:#003366;}


