.vi2-skipback-controls {
	display:inline-block;
	padding: 0px 4px;
	width:29px;
  height:29px; 
  font-size:20px; 
  text-align: center;
  float:left;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  background-color:#555;
	color:#fff;
	cursor: pointer;
	z-index:5000;
	margin:0;  
}


.vi2-skipback-controls:hover {
	background: #fff; color:#003366;
}


