

ul.assessmentlist{ padding:0px; list-style-type:circle; list-style-position: inside; margin:0;}
ul.assessmentlist li { line-height:16px; display:list-item; margin: 4px 0; background-color: #eee; padding:2px 4px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
ul.assessmentlist li:hover { background-color: #ccc;}
ul.assessmentlist li a { text-decoration:none; padding: 2px 1px 1px 3px; }


#vi2assessment {
	z-index:40;
	position:absolute;
	overflow:hidden;
	background: #efefef;
	opacity:.98;
	width:100%;
	height:inherit;
	padding:20px;
}

.assessment-question { font-weight:bold; font-size: 28px; color: #1C94C4 }
.assessment-answer { font-weight:bold; font-size: 14px; margin-bottom:10px; cursor:pointer; width:100%;}
#vi2assessment div.assessment-answer input {margin-right:5px;}
#vi2assessment div.assessment-answer:hover { background-color: #1C94C4; color:#fff; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#vi2assessment div.assessment-btn { width:80px; cursor:pointer;}
#vi2assessment div.assessment-btn-proceed { width:150px; cursor:pointer;}
#vi2assessment p.assessment-msg-correct { padding:4px; background-color: green; color:#fff; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#vi2assessment p.assessment-msg-wrong { padding:4px; background-color: red; color:#fff; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#vi2assessment p.assessment-msg-warning { padding:4px; background-color: orange; color:#fff; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}


.assessment-user-icon {
padding-top: -15px;
}

