.vi2-speed-controls {
	position:relative;
	display:inline-block;
  padding: 2px 4px; 
  border: 1px solid #003366; 
  width: 40px;
  font-size:12px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
   cursor: pointer;
   z-index:5000;
   background-color:#555;
   color:#fff;
}
.vi2-speed-controls > ul { 
	display: none; 
	position:absolute; 
	bottom:100%;
	left:0px;
	margin:0;
	padding:0;   
	width:40px;
	background-color:#555; 
	list-style:none;
	line-height:12px;
}
.vi2-speed-controls:hover > ul {  display: block; border: 1px solid #555; right:0px;}
.vi2-speed-controls:hover > ul > li { z-index:5000; list-style:none; padding:4px;}
.vi2-speed-controls:hover > ul > li:hover { z-index:5000; background: lightblue;}


