<div class="player-share">
	<span class="player-share-close close">x</span>
	<lable class="player-share-label">Share link:</lable>
	<input class="player-share-link" type="text"/>
	<!--<br/>
	<lable class="player-share-label">Embed popup:</lable>
	<input class="player-share-popup" type="text" />-->
	<br/>
	<lable class="player-share-label">Embed video:</lable>
	<input class="player-share-embed" type="text" />
</div>  
